<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profit First Calculator</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>Profit First Calculator</h1>

    <div id="app">
        <label>Income Account Balance</label>
        <input type="text" v-model="income">
        <hr />
        <label>Profit</label>
        <input type="text" v-model="profit">
        <br />
        <label>Owners Pay</label>
        <input type="text" v-model="ownersPay">
        <br />
        <label>Tax</label>
        <input type="text" v-model="tax">
        <br />
        <label>Operating Expenses</label>
        <input type="text" v-model="opex">
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                income: 0,
                percentages: {
                    profit: .05,
                    ownersPay: .25,
                    tax: .15,
                    opex: .55
                }
            },
            computed: {
                profit: function () {
                    return (this.income * this.percentages.profit).toFixed(2);
                },
                ownersPay: function () {
                    return (this.income * this.percentages.ownersPay).toFixed(2);
                },
                tax: function () {
                    return (this.income * this.percentages.tax).toFixed(2);
                },
                opex: function () {
                    return (this.income * this.percentages.opex).toFixed(2);
                },
            }
        });
    </script>
</body>

</html>